<div data-role="page">
  <div data-role="header">
    <h1><%= @page_title %></h1>
  </div>
  <div data-role="content">
    <p>Find me in app/views/welcome/index.html.erb</p>
  </div>
  <div data-role="footer">
    <p><small>&#169; <%= Date.today.year %> @fakestarbaby</small></p>
  </div>
</div>
